@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('./assets/css/multistep.css');
@import url('./assets/css/kanban.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


body,
input {
    font-family: 'Public Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.right-aside {
    width: calc(100% - 280px);
}

.menu-style {
    @apply flex items-center gap-x-4 py-4 text-sm text-text-100 cursor-pointer;
}

.menu-active-btn {
    @apply font-semibold text-primary;
}

.dropdown-icon-rotaion {
    transform: rotate(90deg);
}

.language-select::before {
    @apply w-2 sm:w-3 h-2 sm:h-3 absolute -top-[13px] sm:-top-[14px] right-[10px] sm:right-[20px] bg-white;
    content: '';
    transform: rotate(45deg);
    z-index: 1;
}

.notification-select::before {
    @apply w-2 sm:w-3 h-2 sm:h-3 absolute -top-[5px] sm:-top-[7px] right-[10px] sm:right-[20px] bg-white;
    content: '';
    transform: rotate(45deg);
}

.profile-select::before {
    @apply w-3 h-3 absolute -top-[7px] right-[20px] bg-white;
    content: '';
    transform: rotate(45deg);
}

input:focus+label,
input:valid+label {
    @apply text-xs text-text-200 -top-[8px] left-[10px] bg-white;
    padding: 0px 5px 0px 5px;
}

.input_wrap , .new-user-input, .product-add-input {
    position: relative;
}

.input_wrap label {
    @apply p-[14px] -top-[2px] sm:top-[2px] left-0 absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
}

.new-user-input label {
  @apply p-[14px] -top-[2px] sm:top-0 left-0 absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

.product-add-input label {
  @apply p-[14px] top-1 left-0 absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

.product-select-input label {
  @apply -top-[10px] left-[8px] px-[6px] absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

input[type="text"]:focus {
    outline: none;
}

.tdata {
    @apply text-sm font-medium text-text-200 my-3 w-fit;
}
.order-tdata{
    @apply text-sm font-medium text-text-200 py-3 px-4;
}
.table-head{
  @apply text-left text-base font-bold text-text-400;
}

/* #chart {
    height: 350px !important;
} */


/*====================
 admin profile page
=======================*/

.admin-bg-image{
    background-image: url('../assets/images/user-profile/banner.png');
    background-size: cover;
    background-position: center;
}

.profile-overview h2::after{
    content: "";
    @apply w-[140px] sm:w-[170px] h-[2px] absolute -bottom-[1px] left-0 bg-text-100;
}

.switch {
    @apply relative inline-block w-9 h-5 rounded-full;
}
  
.switch input { 
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#ccc] rounded-[20px];
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  @apply absolute h-[14px] w-[14px] left-[2px] bottom-[3px] bg-white rounded-[20px];
  content: "";
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #228FF3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #228FF3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
 
.scroller::-webkit-scrollbar {
    width: 2px;
}
.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scroller::-webkit-scrollbar-thumb {
  background-color: #666;
  outline: 1px solid #eee;
}

/*================
 pricing  
=================*/
.active-btn{
  @apply !bg-primary !text-white;
}

/*================ 
 billing  
=================*/

.invoice-tdata {
  @apply text-text-200 font-medium text-sm sm:text-base py-[10px] px-4;
}

.invoice-form-tdata {
  @apply text-text-200 font-normal text-sm py-[26px] px-4;
}

.fc-non-business {
  background-color: white !important;
}

.fc-today-button.fc-button.fc-button-primary {
  @apply !bg-success px-5 !outline-none !border-0 relative left-14;
}
.fc-prev-button.fc-button.fc-button-primary {
  position: relative;
  left: -83px;
  background-color: white;
  border: 0px;
  box-shadow: none;
}
.fc-icon-chevron-left::before {
  color: black;
}
.fc-next-button.fc-button.fc-button-primary {
  background-color: white;
  border: 0px;
  box-shadow: none;
  outline: none;
}

.fc-next-button.fc-button.fc-button-primary:focus-visible,
.fc-next-button.fc-button.fc-button-primary:not(:disabled):active:focus,
.fc-next-button.fc-button.fc-button-primary:focus{
  box-shadow: none;
  outline: none;
  border: 0;
  background-color: white;
}

.fc-prev-button.fc-button.fc-button-primary:focus-visible,
.fc-prev-button.fc-button.fc-button-primary:not(:disabled):active:focus,
.fc-prev-button.fc-button.fc-button-primary:focus{
  box-shadow: none;
  outline: none;
  border: 0;
  background-color: white;
}


.fc-next-button.fc-button.fc-button-primary:hover,.fc-prev-button.fc-button.fc-button-primary:hover {
  background-color: white;
}
.fc-icon-chevron-right::before {
  color: black;
}
.fc-event-main-frame{
  @apply text-primary py-[2px] pl-1 ;
}
.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
  @apply !bg-primary/20 text-text-400 border-none;
}


/*============ 
  kanban  
==============*/

.kanban-image img {
  margin-left: -10px;
}

/*============ 
  kanban  
==============*/ 

.tox-notification.tox-notification--in.tox-notification--warning {
  display: none;
}
 
.tox .tox-statusbar {
  opacity: 0;
}

.tox.tox-tinymce {
  height: 122px !important;
  border: 1px solid #ebeaea;
  border-radius: 4px !important;
  color: green !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  @apply text-primary bg-primary/10 !flex !flex-row-reverse gap-x-[6px] border-0 text-sm;
}

.select2-selection.select2-selection--multiple {
  @apply !border-0 ;
}

.select2-search.select2-search--inline{
  @apply !bg-white ;
}

.select2-selection__choice__remove {
  @apply !text-primary;
}

.select2-selection__rendered {
  @apply flex flex-row gap-x-2;
}

.select2-search__field {
  border: 0px solid white !important;
}
.select2-search__field {
  width: 220px !important;
}



/* mobile resposive  */
@media screen and (max-width: 640px) {
  .right-aside {
    width: 100% !important;
  }

  /* .language-select::before {
    @apply w-2 h-2 absolute -top-[14px] right-[20px] bg-white;
    content: '';
    transform: rotate(45deg);
    z-index: 1;
  }

  .notification-select::before {
      @apply w-3 h-3 absolute -top-[7px] right-[20px] bg-white;
      content: '';
      transform: rotate(45deg);
  }

  .profile-select::before {
      @apply w-3 h-3 absolute -top-[7px] right-[20px] bg-white;
      content: '';
      transform: rotate(45deg);
  } */
}
@media (min-width: 641px) and (max-width: 768px) {
  .right-aside {
    width: 100% !important;
  }
}