.add-task-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5.3rem;
    margin: auto;
    background: #a8a8a8;
    border: #000013 0.2rem solid;
    border-radius: 0.2rem;
    padding: 0.4rem;
}

.main-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 1.6rem auto;
}

.column {
    @apply bg-white;
}



.task-list {
    min-height: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.column-button {
    text-align: center;
    padding: 0.1rem;
}

.button {
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    border: #000013 0.14rem solid;
    border-radius: 0.2rem;
    color: #000013;
    padding: 0.6rem 1rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.delete-button {
    background-color: #ff4444;
    margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
    background-color: #fa7070;
}

.add-button {
    background-color: #ffcb1e;
    padding: 0 1rem;
    height: 2.8rem;
    width: 10rem;
    margin-top: 0.6rem;
}

.add-button:hover {
    background-color: #ffdd6e;
}

.task {
    @apply shadow-md gap-y-10;
    
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* margin: 0.4rem; */
    /* height: 4rem; */
    /* border: #000013 0.15rem solid; */
    border-radius: 0.2rem;
    cursor: move;
   
}

#taskText {
    background: #fff;
    border: #000013 0.15rem solid;
    border-radius: 0.2rem;
    text-align: center;
    font-family: "Roboto Slab", serif;
    height: 4rem;
    width: 7rem;
    margin: auto 0.8rem auto 0.1rem;
}



.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}