#notComplete, #submitGood, #dbError {
  display:none;
}


#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    padding: 20px 30px;
    /* box-sizing: border-box; */
    width: 100%;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea, #msform select {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  @apply bg-primary w-[160px] text-white text-sm h-10 flex;
}


.fs-title {
  font-size: 15px;
  color: #222;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}


#progressbar {
    @apply py-10 bg-text-40/50;
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: rgb(87, 86, 86);
  font-size: 14px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: "";
  /* counter-increment: step; */
  width: 8px;
  height: 8px;
  background: green;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #FFF;
  background: rgb(143, 141, 141);
  border-radius: 50%;
  margin: 0 auto 5px auto;
}


#progressbar li:after {
  content: '';
  width: 68%;
  height: 2px;
  background: rgb(143, 141, 141);
  position: absolute;
  left: -36%;
  top: 4px;
}
#progressbar li:first-child:after {
  content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
  @apply bg-primary text-white;
}